__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
data/raw/*
data/frames/*
data/annotations/*
data/augmented/*
!data/dataset.yaml
results/*
!results/output_video*.mp4
!results/metrics/evaluation.csv
!results/metrics/metrics_plot_*.png
.vscode/
.idea/
*.DS_Store
*.log
*.tmp
*.bak
yolo11n.pt
labelImg-master/